@font-face {
    font-family: 'tajwal';
    src: url('../fonts/Tajawal\ Medium\ Regular.woff2');
}

@font-face {
    font-family: 'tajwal-bold';
    src: url('../fonts/Tajawal\ Black\ Regular.woff2');
}

body {
    direction: rtl !important;
    font-family: 'tajwal' !important;
}


h1,
h5,
h6 {
    font-family: 'tajwal-bold';
}

.navbar-container {
    padding-left: 0px;
    padding-right: 30px;
}

.spec-table-row td {
    font-family: 'tajwal';
}

.about-text {
    padding-left: 25px;
    padding-right: 0px;
}

.list-item {
    margin-left: 15px;
    margin-right: 0px;
}

.lSSlideOuter {
    direction: ltr;
}

.lg-outer {
    direction: ltr !important;
}

.lg-outer .lg-thumb-outer.lg-thumb-align-middle {
    text-align: center !important;
}

.lg-outer .lg-pager-outer {
    text-align: center !important;
}



.follow-us-title {
    font-family: 'tajwal-bold';
}
