:root {
    --main-brown-color: #361c16;
    --main-yellow-color: #facb32;
    --highlight-text-size: 28px;
    --paragraphs-text-size: 17px;
    --subheading-text-size: 18px;
    --navbar-item-text-size: 15px;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.woff2');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/Montserrat-Bold.woff2')
}

body {
    font-family: 'montserrat' !important;
}

h1,
h5,
h6,
p {
    color: var(--main-brown-color);
}

h1,
h5,
h6 {
    font-family: 'montserrat-bold';
}

h6 {
    text-transform: uppercase;
}

p {
    font-size: 15px;
}

.padded-paragraph-15 {
    padding-right: 15px;
}

small {
    font-size: 12px !important;
}

.main {
    position: relative;
}

.background-image {
    position: absolute;
    opacity: 0.2;
    left: 0;
    top: 0;
    width: 50%;
    height: auto;
    z-index: -1;
}

.main-title {
    text-transform: uppercase;
    display: table;
    border-bottom: 3px solid var(--main-yellow-color);
}

#header {
    background-color: #472219;
}

#navbar {
    width: 100%;
    padding: 0px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-row {
    width: 100%;

}

#nav-item {
    color: #ffffff;
    font-size: var(--navbar-item-text-size);
    padding-bottom: 2px;
}

.nav-link {
    color: #ffffff;
    font-size: var(--navbar-item-text-size);
}

.active-nav-link {
    color: var(--main-yellow-color) !important;
    border-bottom: 1px solid var(--main-yellow-color);
}

.dropdown-menu {
    min-width: fit-content !important;
    width: 50px;
    margin-top: -5px;
}

.dropdown-toggle::after {
    content: none !important;
}

.nav-link:hover {
    color: var(--main-yellow-color);
    border: none;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-container {
    padding-left: 15px !important;
}

.lang-dropdown-toggle {
    background: none !important;
    border: none !important;
}

.lang-dropdown-toggle:hover,
.lang-dropdown-toggle:focus {
    border: none !important;
}

.dropdown-item {
    text-align: center !important;
}

.companyLogo {
    width: 47.5px;
    height: 50px;
}

.main-nav-item {
    margin-right: 5%;
}

.main-slide-img {
    max-height: 600px;
    background-size: cover;
    object-fit: cover;
}

.carousel-indicators {
    display: none !important;
}



.inner-row {
    margin-top: 30px;
}


.about-text,
.contact-text,
.sub-about-text,
p {
    line-height: 1.8;
    color: #707070;
}

.about-text {
    padding-right: 25px;
}





.s-about-box {
    margin-top: 25px;
}

.svg-about {
    margin-top: -70px;
    padding-bottom: 20px;
}

.svg-about-2 {
    padding-bottom: 20px;
}

.cards-section {
    margin-top: 30px;
}

.prod-cards {
    border: 4px solid var(--main-brown-color);
}

.product-link:hover {
    text-decoration: none;
}

.prod-card-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(125, 99, 91, 50%);
    display: none;
}

.card-footer {
    text-align: center;
    background-color: var(--main-brown-color) !important;
}

.transparent-card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    display: none;
    text-align: center;
}

.card-text-muted {
    text-transform: uppercase;
    color: #ffffff;
}

.transparent-card-text-muted {
    text-transform: uppercase;
    color: var(--main-yellow-color);
    font-size: 12px;
    margin: 0;
    padding: 0.68rem 0rem;
}


.card-img-top {
    height: 240px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px !important;
    width: 100%;
}

.mab-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-span {
    font-weight: bold;
    color: var(--main-brown-color) !important;
}

.contact-form-box {
    margin-left: 50px;
    margin-right: 50px
}

.contact_us-form {
    padding: 20px;
    background-color: var(--main-yellow-color);
}

.contact-submit-button {
    width: 100%;
    background-color: var(--main-brown-color);
    color: #ffffff;
    border: none;
    padding: 5px;

}

.contact-submit-button:hover {
    color: var(--main-yellow-color);
}

.form-control {
    border-radius: 0px !important;
}

.top-workflow-section {
    height: 500px;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
}

.workflow-box {
    text-align: center;
    height: 350px;
    padding: 25px 15px;
    background: var(--main-yellow-color);
    margin-top: -100px;
}

.workflow-title {
    color: var(--main-brown-color);
    font-weight: bold;
    font-size: 15px;
}

.workflow-description {
    font-size: 13px;
    color: var(--main-brown-color);
}

.workflow-col {
    padding: 5px !important;
}

.svg-icon {
    margin-bottom: 25px;
}

.hand-shake-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.follow-us-title {
    display: table;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'montserrat';
    font-weight: bolder;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--main-yellow-color);
}

.follow-us {
    margin-top: 50px;
}

.footer-border {
    border: solid 1px var(--main-brown-color);
    margin-bottom: 15px;
}

.bottom-footer-line {
    height: 5px;
    margin-top: 10px;
}

.social-list-group {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
}

.list-item {
    list-style-type: none;
    margin-right: 15px;
}

@media only screen and (max-width: 991px) {
    .contact-form-box {
        margin: 0px;
    }

    .main-nav-item {
        display: flex;
        justify-content: flex-end;
    }

    .workflow-box_2,
    .workflow-box_3 {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 767px) {

    .svg-about,
    .svg-about-2 {
        display: none;
    }

    .workflow-box_1 {
        margin-top: 25px;
    }
}


/* Product Page */
.product-title,
.about-title,
.gallery-title {
    margin-top: 150px;
    margin-bottom: 50px;
}


#productGallery .lslide {
    display: block;
    height: auto;
}

#productGallery .lslide img {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 460px;
    height: 100%;
    object-fit: cover;
}

.product-colors {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.center {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.owl-carousel .owl-item img {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.specification,
.color {
    margin-top: 30px;
}

.spec-table-row {
    text-align: center;
}

.spec-table-header {
    background-color: var(--main-yellow-color);
}

.odd-spec-table-row {
    background-color: #d4d4d4;
}

.spec_table table {
    margin-top: 25px;
}

.spec-table-row td {
    color: var(--main-brown-color);
    font-family: 'montserrat';
}

.main-title-underline {
    text-transform: uppercase;
    display: table;
    border-bottom: 3px solid var(--main-yellow-color);
}

/* About Us Page */
.inner-section,
.footer-section,
.about-section {
    margin-top: 75px;
}

.about-page-section {
    margin-top: 150px;
}

.about-row-down {
    margin-top: 50px;
}

.about-sub-title {
    display: table;
}

.about-sub-title h6 {
    border-bottom: 2px solid var(--main-yellow-color);
    padding-bottom: 5px;
}

.about-row-down {
    margin-top: 125px;
}

.about-page-img {
    margin-top: 60px;
}

.about-page-img img {
    width: 100%;
    object-fit: cover;
}

.bordered-col {
    border-bottom: 2px solid var(--main-brown-color);
}


/* Footer code */

.footer-container p {
    color: var(--main-brown-color) !important;
}

.social-media-svg:hover {
    text-decoration: none;
}

.st0 {
    fill: #bcbcbc !important;
}

.page-loader {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background-color: rgba(12, 12, 12, 0.8);
    z-index: 2000;
}

.spinner {
    position: relative;
    margin: 0 auto;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: var(--main-brown-color);
    animation: spin 1s linear infinite;
}

.spinner-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.spinner-logo img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Gallery */
.gallery-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    min-height: 250px;
}


.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50px;
    bottom: 20px;
    left: 15px;
    z-index: 100;
    text-align: center;
    font-size: 30px;
}
